= render 'layouts/header'
= render 'layouts/new_message'
.root_page
  = render 'layouts/left_bar'
  .user_page
    .user_page__right#auto_scroll
      = render partial: "layouts/message", collection: @messages