= render 'layouts/header'
= render 'layouts/flash_message'
= render 'layouts/post_message'
.root_page
  = render 'layouts/left_bar'
  .root_page__right{style:"height:100%;"}
    .root_page__right__contents
      =render 'layouts/chardinjs'