.notification-flash{
  .notice {
    padding-top: 19px;
    padding-bottom: 24px;
    background-color:#29f1ff;
    opacity: 1;
    width: -webkit-fill-available;
    position: absolute;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 10px;
    z-index: 10;
    font-weight:bold;
    letter-spacing: 5px;
    font-size: 17px;
    z-index: 1000;
  }

  .alert {
    padding-top: 19px;
    padding-bottom: 24px;
    background-color:#ffd902;
    opacity: 1;
    width: -webkit-fill-available;
    position: absolute;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 10px;
    z-index: 10;
    font-weight:bold;
    letter-spacing: 5px;
    font-size: 17px;
    z-index: 1000;
  }
}