.chat_all{
  width:100%;
  height:100%;
  margin: 0px auto;
  &__space{
    padding:50px;
    &__title{
    margin: auto;
    font-size:20px;
    font-weight:bold;
    text-align: center;
    padding: 25px;
    border-bottom:3px solid rgb(0, 31, 134);
    margin-bottom:30px;
    width: 50%;
    }
    &__lists.show{
      opacity: 1;
      transform : translate(0, 0);
    }
    &__lists{
      opacity: 0;
      transform : translate(0, 80px);
      transition: 1s ease-out;
      &__no_group{
        margin-top:100px;
        font-family: 'Courier New', Courier, monospace; 
        text-align: center;
      }
      &__li{
        margin: auto;
        width: 70%;
        display: block;
        border:1px solid gainsboro;
        padding:30px;
        text-decoration: none;
        color: rgb(141, 141, 141);
        background: #2f3e51;
        list-style: none;
        transition: 0.5s;
        height: 70px;
        overflow: hidden;
        &__avatar{
          display: inline;
          float: left;
        }
        &__nickname{
          display: block;
          float: left;
          color:white;
          font-weight:bold; 
          margin-left:10px; 
        }
        &__last_message{
          margin-top:50px;
          font-size:14px;
        }
      }
      &__li:hover{
        background: #2f3e51d0;
      }
    }
  }
}