.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(247, 248, 248, 0.89);
  border-bottom:2px solid rgb(168, 168, 168); 
  z-index: 10;
}
.global-nav {
position: fixed;
left:-400px; /* これで隠れる */
top: 0;
width: 350px;
height: 100vh;
padding-top: 50px;
-moz-box-shadow: rgba(223, 217, 217, 0.2) 0px 0px 10px 10px;
background-color: rgb(255, 255, 255);
box-shadow:rgba(156, 154, 154, 0.7) 0px 0px 20px 20px;
transition: all .6s;
z-index: 200;
overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
position: absolute;
left: 0;
top: 0;
width: 50px; /* クリックしやすいようにちゃんと幅を指定する */
height: 50px; /* クリックしやすいようにちゃんと高さを指定する */
cursor: pointer;
z-index: 300;
}
.global-nav__list {
margin: 0;
padding: 0;
list-style: none;
}
.global-nav__item {
text-align: center;
padding: 0 14px;
}
.global-nav__item a {
display: block;
padding: 8px 0;
border-bottom: 1px solid #eee;
text-decoration: none;
color: #111;
}
.global-nav__item a:hover {
background-color: rgb(238, 238, 238);
}
.hamburger__line {
position: absolute;
left: 11px;
width: 18px;
height: 1px;
background-color: rgb(31, 31, 31);
transition: all .6s;
}
.hamburger__line--1 {
top: 14px;
}
.hamburger__line--2 {
top: 20px;
}
.hamburger__line--3 {
top: 26px;
}
.black-bg {
position: fixed;
right: 0;
top: 0;
width: 100vw;
height: 100vh;
z-index: 100;
background-color: rgb(70, 69, 69);
opacity: 0;
visibility: hidden;
transition: all .7s;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
left: 0;
}
.nav-open .black-bg {
opacity: .8;
visibility: visible;
}
.nav-open .hamburger__line--1 {
transform: rotate(45deg);
top: 20px;
}
.nav-open .hamburger__line--2 {
width: 0;
right: 50%;
}
.nav-open .hamburger__line--3 {
transform: rotate(-45deg);
top: 20px;
}
.home_btn{
  position: fixed;
  right: 200px;
  top: 13px;
  z-index:100;
  font-size:25px;
  a{
    transition: 0.5s;
    color: rgb(8, 8, 8);
  }
}
.notifications{
  position: fixed;
  right: 150px;
  top: 13px;
  z-index:100;
  font-size:25px;
  a{
    transition: 0.5s;
    color: rgb(8, 8, 8);
  }
}
.new_post_btn{
  float: right;
  position: fixed;
  right: 30px;
  top: 7px;
  z-index: 100;
  padding: 10px;
  background: #3fbfff;
  color: aliceblue;
  border-radius:20px;
  transition: 0.5s;
  cursor: pointer;
  &__pen{
    font-size:13px; 
  } 
}
.new_post_btn:hover{
  background: #48c2ffa9;
  transition: 0.5s;
}
.notifications:hover{
  a{
    color: rgba(65, 64, 64, 0.781);
    transition: 0.5s;
  }
}
.home_btn:hover{
  a{
    color: rgba(49, 49, 49, 0.733);
    transition: 0.5s;
  }
}