.message{
  margin-top: 10px;
  .message_current_user{
    float: right;
    clear: both;
    display: block;
    .message__user{
      &__name{
        font-size:10px;
        font-family: Arial, Helvetica, sans-serif;
        float: right;
        position: relative;
        top:80px;
        left:48px;
      }
      &__avatar{
        float: right;
      }
    }
    .message__time{
      max-width: 200px;
      font-size: 13px;
      position: relative;
      bottom: 100px;
      left:450px;
      color: rgb(223, 223, 223);
      .fas{
        font-size: 20px;
        color: rgb(223, 223, 223);
        font-weight:bold;
        margin-left:10px;
        cursor: pointer;
      }
    }
    .message__time11{
      max-width: 200px;
      font-size: 13px;
      position: relative;
      bottom: -18px;
      left: 442px;
      color: rgb(223, 223, 223);
      .fas{
        font-size: 20px;
        color: rgb(223, 223, 223);
        font-weight:bold;
        margin-left:10px;
        cursor: pointer;
      }
    }
    .message__content{
      background: #1bb7ff;
      box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
      width: 600px;
      height:100%;
      padding: 5px 30px 30px 30px;
      border-radius: 30px;
      margin-right: 100px;
      margin-bottom: 70px;
      color: white;
      &__tri{
        font-size:25px;
        position: relative;
        right: -625px;
        top: 20px;
        color: #1bb7ff;
      }
      &__text{
        margin-bottom:10px; 
        font-size:13px;
      }
      &__image{
        .content_image{
          width: 200px;
          height: 200px;
        }
      }
    }
    .message__check{
      float: left;
      position: relative;
      right:50px;
      bottom:95px;
      color: rgb(110, 110, 110);
      font-weight:bold; 
      font-size:12px; 
    }
  }
  .message_group_user{
    float: left;
    clear: both;
    display: block;
    .message__user{
      &__name{
        font-size:12px;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 15px;
        margin-top:10px; 
      }
      &__avatar{
        color: #000;
      }
    }
    .message__time{
      color: gb(223, 223, 223);
      font-size: 13px;
      float:right;
      position: relative;
      bottom: 105px;
      color: rgb(223, 223, 223);
    }
    .message__time22{
      color: gb(223, 223, 223);
      font-size: 13px;
      float:right;
      position: relative;
      bottom: -10px;
      left: -60px;
    }
    .message__content{
      background: #1bb7ff;
      box-shadow: 0 3px 6px rgba(102, 102, 102, 0.16);
      width: 500px;
      height:100%;
      padding: 5px 30px 30px 30px;
      border-radius: 30px;
      position: relative;
      left: 100px;
      bottom: 80px;
      &__tri{
        font-size:25px;
        position: relative;
        right: 50px;
        top: 20px;
        color: #1bb7ff;
      }
      &__text{
        margin-bottom:10px; 
        font-size:13px;
        color: white;
      }
      &__image{
        .content_image{
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}