.registration_header{
  width: 100%;
  padding: 20px;
  background: #2f3e51;
  border-bottom:1px solid rgb(168, 168, 168);
  box-shadow: rgba(0, 48, 182, 0.322) 1px 1px 3px 2px;
  &__title{
    color: white;
    font-size:35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}
.registration_main{
  width: 100%;
  height: 100%;
  background: #ebebeb;
}

body {
  background: #dbdfe4;
  background: #edf0f3;
  font-family: 'Open Sans', sans-serif;
}

.registration_body{
  width: 500px;
  margin: 16px auto;
  font-size: 16px;
  box-shadow: #28d;
  &__main{
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #28d;
  }
  &__header{
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
  }
  &__container{
    background: #ebebeb;
    padding: 12px;
    box-shadow: rgba(189, 189, 189, 0.856) 0px 0px 2px 2px;
    &__field{
      font-weight: bold;
      font-size:15px;
      li{
        margin: 18px;
      }
      text{
        color: rgb(255, 87, 27)
      }
      .nickname_field{
        &__nickname{
          width: 350px;
          padding:10px;
          font-size:15px; 
        }
      }
      .avatar_field{
        text{
          color: rgb(90, 90, 90)
        }
        #img_field_avatar{
          font-size: 15px;
          margin-top: 10px;
          padding: 5px 8px;
          border: solid 1px #000144;
          color: rgb(5, 5, 5);
          position: relative;
          padding: 0;
          border-radius: 50%;
          cursor: pointer;
          width: 100px;
          height:100px;
          background-image:url(//static.mercdn.net/images/member_photo_noimage_thumb.png);
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size:cover;
          background-color: #fff;
          overflow: hidden;
          box-sizing: border-box;
          transition: 0.3s ease-out;
          z-index: 10;
          opacity: 1;
          margin: 20px;
          .avatar_preview{
            width: 100%;
            height: 100%;
          }
        }
        #img_field_avatar:hover{
          background-color: rgba(190, 190, 190, 0.356);
          transition: 0.3s ease-out;
          opacity: 0.7;
        }
      }
      .email_field{
        &__mail{
          width: 350px;
          padding:10px;
          font-size:15px; 
        }
      }
      .profile_field{
        .plofile_field_text{
          width: 400px;
          height: 150px;
          padding:10px;
          font-size:15px;
          border: 0.5px solid rgb(199, 199, 199);
        }
      }
      .password_field{
        &__pass{
          width: 350px;
          padding:10px;
          font-size:15px; 
        }
      }
      .password_confirmation_field{
        &__confirmation{
          width: 350px;
          padding:10px;
          font-size:15px; 
        }
      }
      .actions_field{
        text-align: center;
        &__submit{
          background: #28d;
          border-color: transparent;
          color: #fff;
          cursor: pointer;
          box-sizing: border-box;
          display: block;
          width: 200px;
          border-width: 1px;
          border-style: solid;
          padding: 16px;
          margin: auto;
          font-family: inherit;
          font-size: 0.95em;
          border-radius:10px;
          transition: all 0.5s;
        }
        &__submit:hover{
          opacity: 0.8;
        }
      }
    }
  }
}
.login_message{
  font-size:15px;
  font-weight:bold;
  text-align: center;
  margin: 10px;  
}
.login_btn{
  text-align: center;
  margin: 5px auto;
  a{
    border-radius:10px; 
    text-decoration: none;
    display:block;
    color: #ebebeb;
    margin:auto;
    background: #17c;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    
  }
  a:hover{
    opacity: 0.8;
  }
}