.root_page{
  width:100%;
  height: 100%; 
  &__left{
    width: calc(100% - 80%);
    padding: 0px 0px 30px 0px;
    height: 100%;
    float: left;
    background:rgb(255, 255, 255);
    border-right:2px solid rgb(187, 187, 187);
    position: fixed;
    left:0;
    top:50;
    &__group{
      &__users{
        margin-top:2px; 
        width: 100%;
        height: 100%;
        &__no_group{
          font-size:13px;
          margin-top:50px;
          margin-left:20px;
          font-weight:bold;
        }
        &__link{
          background: #ffffff;
          border-right: 1px solid gray;
          border-left:1px solid gray;
          border-top:1px solid gray;
          border-bottom:1px solid gray;
          padding: 10px;
          display: block;
          width:93%;
          height: 88px;
          transition-duration: 1s;
          a{
            text-decoration: none;
          }
          // &__avatar{
          // }
          &__nickname{
            color:black;
            width: 100%;
            font-size:12px;
            position: relative;
            left:50px;
            bottom:40px;
          }
          &__last-message{
            text-align: left;
            color:rgb(102, 102, 102);
            font-size:13px;
            overflow: hidden;
            width: 100%;
            height: 13px;
          }
          &__check_box{
              position: relative;
              top: -94px;
              left: 25px;          
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background: #0163ff;
              text-align: center;
              line-height: 20px;
              font-size: 12px;
              color: #fff;
              animation: delayJump 3s ease-out;
              animation-delay: 0.05s;

          }
          .root_page__left__group__users__link__smrck{
            background: linear-gradient(90deg, rgba(246, 246, 246, 0), #ffffff 70%);
            bottom: -13px;
            height: 15px;
            position: relative;
            right: -235px;
            width: 40px;
            transition:1s;
          }
        }
        &__link:hover{
        border-top: 1px outset rgb(0, 162, 255);
        border-right: 1px outset rgb(0, 120, 190);
        border-bottom: 1px outset rgb(0, 162, 255);
        width:125%;
          .root_page__left__group__users__link__smrck{
            background: linear-gradient(90deg, rgba(246, 246, 246, 0), #ffffff 70%);
            bottom: -13px;
            height: 15px;
            position: relative;
            right: -330px;
            width: 40px;
          }
        }
      }
    }
  }
  &__right{
    width: calc(100% - 30%);
    float: right;
    height: 100vh;
    padding: 0px 50px 0 50px;
    margin-top: 50px;
    padding-top:20px;
    &__favo{
      margin: 30px;
      font-weight: bold; 
    } 
    &__title{
      text-align: left;
      font-size:20px;
      font-weight: bold;
    }
    &__contents{
      &__list{
        list-style: none;
        padding: 20px;
        border:1px solid gainsboro;
        margin-bottom:20px;
        text-decoration: none;
        &__nickname{
          font-size:13px;
          margin-top:10px;
          color: #26c1ff;
          
        }
        a{
          text-decoration: none;
        }
        &__retweet_user{
          float: right;
          a{vertical-align:50%;
            color: #26c1ff;
          }
          text{
            vertical-align:80%;
            color: darkgrey;
            font-size:13px;
          }
          .retweet_other_name{
            color: rgb(104, 104, 107);
            display: inline;
            font-size:15px;
            font-weight:bold; 
          }
        }
        &__post{
          width: 80%;
          height: 100%;
          border: 1px solid gainsboro;
          padding: 20px;
          margin: 10px;
          &__title{
            font-size:18px;
            word-wrap: break-word;
            font-family: 'Courier New', Courier, monospace;
            margin: 0px 0px 20px 0px;
            padding: 10px;
            border-bottom:1px solid gainsboro; 
          }
          &__text{
            font-size:13px;
            margin: 10px;
            word-wrap: break-word;
          }
          &__time{
            font-size:12px;
            color: rgb(167, 167, 167);
            float: right;
          }
          &__image{
            margin: 10px 0px 10px 0px;
            
            .post_image{
              width: 300px;
              height: 200px;
              border-radius: 10px;
              box-shadow: 0 1px 1px rgba(81, 82, 82, 0.16);
            }
          }
        }
        &__like{
          width: 50px;
          height: 20px;
          margin-top:10px;
          display: inline-block;
          vertical-align: top;
          .slideInRight{
            animation-name:fade-in2;
            animation-duration:0.5s;
            animation-delay:0s; //アニメーション開始させる時間
            animation-iteration-count:1; //繰り返し回数
            animation-direction:normal; //往復処理をするかどうか
            animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
          }
          @keyframes fade-in2 {
            0% {opacity: 0; transform: translate3d(0,-10px,0);}
            25% {opacity: 0.12.5; transform: translate3d(0,-8px,0);}
            25% {opacity: 0.25; transform: translate3d(0,-6px,0);}
            50% {opacity: 0.5; transform: translate3d(0,-4x,0);}
            75% {opacity: 0.65; transform: translate3d(0,-2px,0);}
            75% {opacity: 0.88; transform: translate3d(0,-1px,0);}
            100% {opacity: 1; transform: translate3d(0,0,0);}
          }
          .like-link a{
            text-decoration: none;
            color:#fbc000;
            .heart-like{
              float: left;
              margin-right: 10px;
              .up{
                float: right;
                margin-left: 10px;
                font-weight: bold;
              }
            }
            .heart-unlike{
              float: left;
              margin-right: 10px;
              .down{
                float: right;
                font-weight: bold;
              }
            }
          }
        }
        &__retweet{
          width: 50px;
          height: 20px;
          margin-top:10px;
          display: inline-block;
          vertical-align: top;
          %i.fas.fa-share-square{
            z-index: 100;;
          }
          .slideInRight{
            animation-name:fade-in2;
            animation-duration:0.5s;
            animation-delay:0s; //アニメーション開始させる時間
            animation-iteration-count:1; //繰り返し回数
            animation-direction:normal; //往復処理をするかどうか
            animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
          }
          @keyframes fade-in2 {
            0% {opacity: 0; transform: translate3d(0,-10px,0);}
            25% {opacity: 0.12.5; transform: translate3d(0,-8px,0);}
            25% {opacity: 0.25; transform: translate3d(0,-6px,0);}
            50% {opacity: 0.5; transform: translate3d(0,-4x,0);}
            75% {opacity: 0.65; transform: translate3d(0,-2px,0);}
            75% {opacity: 0.88; transform: translate3d(0,-1px,0);}
            100% {opacity: 1; transform: translate3d(0,0,0);}
          }
          .retweet-link a{
            text-decoration: none;
            color:#00b327;
            .fas.fa-share-square{
              float: left;
              margin-right: 10px;
              .up{
                float: right;
                margin-left: 10px;
                font-weight: bold;
              }
            }
            .far.fa-share-square{
              float: left;
              margin-right: 10px;
              .down{
                float: right;
                font-weight: bold;
              }
            }
          }
        }
        &__comment{
          display: inline-block;
          transition: 3s all;
          span.far{
            color: #0d7eff;
            margin-top:10px;
            cursor:default;
            transition: 3s all;
            &:hover .comment_contents.slideInRight{
              display: block;
              animation-name:fade-in;
              animation-duration:0.7s;
              animation-delay:0s; //アニメーション開始させる時間
              animation-iteration-count:1; //繰り返し回数
              animation-direction:normal; //往復処理をするかどうか
              animation-fill-mode: forwards; //アニメーション後のスタイルをどうするか
              @keyframes fade-in {
                0% {opacity: 0; transform: translate3d(0,0,0);}
                25% {opacity: 0.12.5; transform: translate3d(0,2px,0);}
                25% {opacity: 0.25; transform: translate3d(0,4px,0);}
                50% {opacity: 0.5; transform: translate3d(0,6x,0);}
                75% {opacity: 0.65; transform: translate3d(0,8px,0);}
                75% {opacity: 0.88; transform: translate3d(0,9px,0);}
                100% {opacity: 1; transform: translate3d(0,10px,0);}
              }
            }
            .comment_contents.slideInRight{
              transition: 3s all ;
              display: none;
              padding: 20px;
              width: 600px;
              height: 100%;
              background: #ffffff;
              border: 1px solid #b0d5ff;
              border-radius: 10px;
              .comment{
                padding: 10px;
                &__message{
                  color: black;
                  margin: 30px 30px;
                  &__avatar{
                    float:left;
                    position: relative;
                    bottom:10px;
                  }
                  &__nickname{
                    font-size: 12px;
                    float: left;
                    position: relative;
                    bottom: 20px;
                    left: 25px;
                  }
                  &__comment{
                    width: 400px;
                    height: 100%;
                    position: relative;
                    right: -65px;
                    font-size: 20px;
                    background: #cee5ff;
                    padding: 15px 20px 30px 20px;
                    border-radius:10px;
                    &__comment{
                      font-size:12px;
                      text-align: left;
                      position: relative;
                      right: 4px;
                    }
                    &__tri{
                      font-size:22px;
                      text-align: left;
                      position: relative;
                      color:#cee5ff;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                      list-style-type:none;
                      top: 0px;
                      left: -57px;
                    }
                  }
                  &__time{
                    font-size:12px;
                    float: right;
                    position: relative;
                    bottom: 19px;
                    left: -54px;
                  }
                }
              }
              .comment__form{
                &__text{
                  .textbox{
                    width: 60.5%;
                    height: 17px;
                    font-size:12px; 
                    padding:15px;
                    margin-left:30px;
                    border-radius:10px;
                    border: solid 1px gainsboro;
                    box-shadow: 0 2px 6px rgba(81, 82, 82, 0.16);
                    -webkit-appearance: none;
                  }
                  .textbox:focus {
                    border: 2px solid rgba(73, 73, 73, 0.32);
                    outline: none;
                  }
                }
                &__submit{
                  clear: both;
                  float: right;
                  position: relative;
                  bottom: 86px;
                  .submit{
                    display       : inline-block;
                    border-radius : 5%;          /* 角丸       */
                    font-size     : 10pt;        /* 文字サイズ */
                    text-align    : center;      /* 文字位置   */
                    cursor        : pointer;     /* カーソル   */
                    padding       : 12px 12px;   /* 余白       */
                    background    : #26c1ff;     /* 背景色     */
                    color         : #ffffff;     /* 文字色     */
                    line-height   : 1em;         /* 1行の高さ  */
                    transition    : .3s;         /* なめらか変化 */
                    box-shadow    : 4px 4px 2px #666666;  /* 影の設定 */
                    border        : 2px solid #277aff;
                    position: relative;
                    left: -36px;
                    top: 37px;
                  }
                  .submit:hover {
                    box-shadow    : none;        /* カーソル時の影消去 */
                    color         : #189bf1;     /* 背景色     */
                    background    : #ffffff;     /* 文字色     */
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}