.js-modal__btn
  %span.far.fa-comment
    %text.far.fa-edit
.js-modal__bg
.js-modal__main
  .new_message
    .new_message__contents
      .new_message__contents__form
        = form_with model: [@group,@message], method: :post do |f|
          #img_field{onclick: "$('#file').click()"}
          .form_image
            = f.file_field :image,class: "image_input", id:"file",accept: '.jpeg, .jpg, .gif, .png, .bmp'
          .form_text
            = f.text_area  :content, class: "textbox"
          .form_submit
            = f.submit 'SEND', class: "submit"
  %p.js-modal__btn--close close
  %p.js-modal__btn--close--fix